table {
    width: 100%;
}

table,th,td {
    border: 2px solid #000;
    border-collapse: collapse;
}

th,td {
    padding: 15px;
}

td{
    text-align: center;
}

.img-tb {
    width: 20%;
}

tr:nth-child(even){
    background-color: #d2691e;
}

tr:nth-child(odd){
    background-color: #8fbc8f;
}

tr:hover {
    background-color: #808080;
}

th{
    background-color: #ffd700;
}

#container {
    background-color: #ffe4b5;
}

input[type=text] {
    display: block;
    width: 100%;
}
