html {
    font-size: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    background-color: #ffe4c4;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 50vw;
    height: 80vh;
}

table {
    width: 100%;
    border-spacing: 5px;
}

table,
th,
td {
    border: 2px solid #000;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

td {
    text-align: center;
}

.img-tb {
    width: 20%;
}

tr:nth-child(even) {
    background-color: #d2691e;
}

tr:nth-child(odd) {
    background-color: #9fdb9f;
}

th {
    background-color: #ffd900;
}

tr:hover {
    background-color: #808080;
}


.info {
    margin: 15px 0;
    font-size: 1.5em;

}

.gen {
    margin: 15px 0;

}

.info input {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px 0;
    border: none;
    outline: none;

}

.gen label {

    position: absolute;
}

.gen input {
    margin: 0 80px;
}


input:focus:invalid {
    border: 4px solid #dc143c;
}

.endereco select {
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

/*

input:placeholder-shown:invalid {
    background-color: #c3808d;
}

input:placeholder-shown:valid {
    background-color: #fff;
}
*/